.wrapper {
  align-items: center;
  border-radius: rem(4px);
  display: flex;
  justify-content: space-between;
  margin: rem(6px);
  padding: rem(10px);

  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-6)
    );
  }

  &[aria-checked="true"] {
    background-color: var(--mantine-color-violet-0);
  }
}

.wrap-img {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: rem(6px);
  margin-left: rem(10px);
}
